
Undoro/Saved/Logs/Undoro.log
Undoro/Saved/Logs/Undoro-backup-2019.03.20-01.15.01.log
Undoro/Saved/Config/Windows/Engine.ini
Undoro/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Undoro/Saved/Config/CrashReportClient/UE4CC-Windows-ABDD73CB497C14D955E3428D072EF73B/CrashReportClient.ini
Undoro/Intermediate/CachedAssetRegistry.bin
Undoro/Saved/Logs/Undoro.log
Undoro/Saved/Config/Windows/Engine.ini
*.log
*.log
Undoro/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Undoro/Saved/Logs/Undoro.log
Undoro/Saved/AutoScreenshot.png
Undoro/Intermediate/CachedAssetRegistry.bin
